# OS
.DS_Store

# IDE
.idea/

# Python
.venv/
__pycache__/
*.pyc

# UV default file
main.py
README.md

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.synctex.gz

# Utility scripts
split_pdfs.py
convert_chunks_to_markdown.py
